body {
	background-color: #000000;
	font-family: 'Titillium Web', sans-serif;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	position: relative;
	height: 332px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../img/fondo-header.jpg');
	background-size: 100% 100%;
	padding-top: 5em;
}

header p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 3em;
	width: 300px;
	margin: 0 auto;
	padding: 0.5em;
	border: 5px solid #fff;
	color: #fff;
	text-align: center;
}

header p:first-child {
	background-color: rgba(0, 0, 0, 0.6);
}

header p:last-child {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	border: none;
	padding: none;
	margin-bottom: 5em;
}

main {
	background-color: #ffffff;
}

h1 {
	width: 20%;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

.about {
	border-bottom: 1px solid black;
}

.about div:first-child {
	padding: 3em;
	width: 30%;
	float: left;
}

.about div:last-child {
	padding: 3em;
	width: 30%;
	float: right;
}

.about ul {
	list-style: none;
}

.about ul li {
	position: relative;
	padding: 10px 0 10px 35px;
}

.lista::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	top: 10px;
	left: 0;
	background-image: url('../img/sprite.png');
	background-size: 30px 176px;
	
}

.html::before {
	background-position: 0px 0px;
}

.css::before {
	background-position: 0px -30px;
}

.js::before {
	background-position: 0px -58px;
}

.sublime::before {
	background-position: 0px -85px;
}

.bs::before {
	background-position: 0px -116px;
}

.jq::before {
	background-position: 0px -147px;
}

.foto {
	position: absolute;
	bottom: 5%;
	left: 40%;
	width: 150px;
	height: 150px;
	background-image: url('../img/yo-web.jpg');
	background-repeat: no-repeat;
	background-size: 130px;
	background-position: top center;
	border-radius: 50%;
}

div.experience {
	width: 45%;
	float: left;
	text-align: right;
}

div.formacion {
	width: 45%;
	float: right;
}

p.date {
	display: inline;
	font-weight: bold;
}

section.portfolio {
	color: #fff;
	background-color: #1c1c1c;
}

section.portfolio h1 {
	border-bottom: 2px solid #fff;
}

section.portfolio h2 {
	text-align: center;
}

.portfolio .fila {
	margin-bottom: 2em;
	width: 100%;
	margin: 0 auto;
}

.fila div {
	width: 40%;
	float: left;
	padding: 1em 3em;
}

.fila div:last-child {
	float: right;
}

a.left {
	float: left;
}

a.right {
	float: right;
}

footer {
	min-height: 5em;
	background-color: #fff;
}

section.social {
	width: 800px;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0 auto;
}

section.social a {
	text-decoration: none;
	border-radius: 50%;
	background-color: #000;
	padding: 1em;
}

.icon {
	display: inline-block;
	width: 49px;
	height: 49px;
	margin: 0 20px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000000 url("../img/social-sprite.png") no-repeat center;
	opacity: 0.7;
	box-shadow: 2px 2px 3px #a0873b;

}

.icon-gmail {
	background-position: -158px -1px;
}

.icon-gmail:hover {
	opacity: 1;
}

.icon-linkedin {
	background-position: -314px -1px;
}

.icon-linkedin:hover {
	opacity: 1;
}

.icon-Google-Plus {
	background-position: -262px -1px;
}

.icon-Google-Plus:hover {
	opacity: 1;
}

.icon-twitter {
	background-position: -54px -1px;
}

.icon-twitter:hover {
	opacity: 1;
}

.icon-Telegram {
	background-position: -106px -1px;
}

.icon-Telegram:hover {
	opacity: 1;
}

.icon-github {
	background-position: -210px -1px;
}

.icon-github:hover {
	opacity: 1;
}

.icon-vk {
	background-position: -1px -1px;
}

.icon-vk:hover {
	opacity: 1;
}

.icon-meetup {
	background-position: -366px -1px;
}

.icon-meetup:hover {
	opacity: 1;
}

a[class*=".icon-*"]:hover {
	opacity: 1;
}
