body {
	background-color: #000000;
	font-family: 'Titillium Web', sans-serif;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 80%;
	margin: 0 auto;
}

img, object {
	max-width: 100%;
}

header {
	position: relative;
	height: 332px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../img/fondo-header.jpg');
	background-size: 100% 100%;
	padding-top: 5em;
}

header p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 3em;
	width: 300px;
	margin: 0 auto;
	padding: 0.5em;
	border: 5px solid #fff;
	color: #fff;
	text-align: center;
}

header p:first-child {
	background-color: rgba(0, 0, 0, 0.6);
}

header p:last-child {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	border: none;
	padding: none;
	margin-bottom: 5em;
}

main {
	background-color: #ffffff;
}

h1 {
	width: 20%;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

.about {
	border-bottom: 1px solid black;
}

.profesion {
	padding-left: 4em;
	padding-right: 4em;
}

.profesion h2 {
	text-align: center;
}

div.experiencia {
	width: 48%;
	float: left;
	text-align: left;
}

.profesion ul {
	list-style: none;
	width: 100%;
	float: left;
}

.profesion ul li {
	display: inline-block;
	width: 10%;
	position: relative;
	margin-right: 2%;
	margin-bottom: 2em;
}

.habilidades {
	padding-top: 3em;
	width: 100%;
}

.lista::before {
	content: "";
	position: absolute;
	width: 55px;
	height: 50px;
	top: -3em;
	left: 0.5em;
	background-image: url('../img/sprite.png');
	background-size: 400px 50px;
	
}

.html::before {
	top: -3em;
	left: 0em;
	background-position: 0px 0px;
}

.css::before {
	top: -3em;
	left: -0.3em;
	background-position: -58px 0px;
}

.js::before {
	background-position: -112px 0px;
}

.jq::before {
	top: -3em;
	left: -0.3em;
	background-position: -168px 0px;
}

.sublime::before {
	top: -3em;
	left: 1em;
	background-position: -229px 0px;
}

.ubuntu::before {
	top: -3em;
	left: 0em;
	background-position: -290px 0px;
}

.win::before {
	background-position: -345px 0px;
}

div.formacion {
	width: 48%;
	float: right;
	margin-bottom: 3em;
}

p.date {
	display: inline;
	font-weight: bold;
}

/*section.portfolio {
	color: #fff;
	background-color: #1c1c1c;
}*/

section.portfolio h1 {
	border-bottom: 2px solid #fff;
}

section.portfolio h2 {
	text-align: center;
}

.portfolio div {
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
}

.portfolio div a:hover {
	box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.5);
}

a.left {
	float: left;
}

a.right {
	float: right;
}

.fila img {
	vertical-align: top;
}

footer {
	min-height: 5em;
	background-color: #fff;
}

section.social {
	width: 80%;
	text-align: center;
	padding: 2em 1em;
	margin: 0 auto;
	border-bottom: 1px solid black;
}

section.social a {
	text-decoration: none;
	border-radius: 50%;
	background-color: #000;
}

.icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0 3%;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000000 url("../img/social-sprite.png") no-repeat center;
	opacity: 0.7;
	box-shadow: 2px 2px 3px #a0873b;

}

.icon-gmail {
	background-position: -158px -1px;
}

.icon-gmail:hover {
	opacity: 1;
}

.icon-linkedin {
	background-position: -314px -1px;
}

.icon-linkedin:hover {
	opacity: 1;
}

.icon-Google-Plus {
	background-position: -262px -1px;
}

.icon-Google-Plus:hover {
	opacity: 1;
}

.icon-twitter {
	background-position: -54px -1px;
}

.icon-twitter:hover {
	opacity: 1;
}

.icon-Telegram {
	background-position: -106px -1px;
}

.icon-Telegram:hover {
	opacity: 1;
}

.icon-github {
	background-position: -210px -1px;
}

.icon-github:hover {
	opacity: 1;
}

.icon-vk {
	background-position: -1px -1px;
}

.icon-vk:hover {
	opacity: 1;
}

.icon-meetup {
	background-position: -366px -1px;
}

.icon-meetup:hover {
	opacity: 1;
}

.about {
	padding-left: 4em;
	padding-right: 4em;
}

/*@media screen and (max-width: 1260px) {
	.social {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	div.experiencia, div.formacion {
		float: none;
		width: 100%;
	}
}*/
